* {
  background-color: rgb(7, 5, 5);
}

h1, p{
  color: white;
}

.BandList {
  width: calc(100% - 80px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  max-width: 1600px;
  padding: 2em;
  border-color: white;
  border-width: 2px;
}